# Custom
doxygen
*.png
mars
ext_libs_*

.DS_Store
Thumbs.db

# User-specific
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Build results
build
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# Visual Studio
*.ilk
*.obj
*.pch
*.pdb
*.ipdb
*.sbr

.vs/
Generated\ Files/
ipch/
*.ncb
*.opensdf
*.sdf
*.cachefile
*.[Cc]ache
